*/storage/
*/bin/
*/.vscode
*/*.txt
*/*/storage/
scala-functional-programming/*/*/dist/*
scala-functional-programming/*/*/target/
scala-functional-programming/*/*/lib_managed/
scala-functional-programming/*/*/src_managed/
scala-functional-programming/*/*/project/project/
scala-functional-programming/*/*/project/boot/
scala-functional-programming/*/*/project/target/
scala-functional-programming/*/*/project/plugins/project/
scala-functional-programming/*/*/*.history
scala-functional-programming/*/*/*.cache
scala-functional-programming/*/*/*.lib/
scala-functional-programming/*/*/*/*/resources/*

*.class
*.cache
.*

convex-optimization/cvx
