*/storage/
*/bin/
*/.vscode
*/*.txt
*/*/storage/
*.class
*.cache
scala-functional-programming/*/project/target/
scala-functional-programming/*/target/
scala-functional-programming/*/.*
scala-functional-programming/*/*jar